absl-py==1.4.0
aio-pika==8.2.3
aiofiles==24.1.0
aiogram==2.15
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiormq==6.4.2
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==3.7.1
APScheduler==3.10.4
astunparse==1.6.3
async-timeout==4.0.3
attrs==22.1.0
babel==2.16.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
boto3==1.35.46
botocore==1.35.46
CacheControl==0.12.14
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.2.1
comtypes==1.4.8
confluent-kafka==2.6.0
cryptography==43.0.1
cycler==0.12.1
dask==2022.10.2
dataclasses-json==0.6.7
decorator==4.4.2
Deprecated==1.2.14
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.3.0
docopt==0.6.2
exceptiongroup==1.2.2
faiss-cpu==1.9.0
fbmessenger==6.0.0
ffmpeg-python==0.2.0
filelock==3.16.1
fire==0.7.0
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpt-index==0.8.42
greenlet==3.1.1
grpcio==1.67.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.4
jiter==0.6.1
jmespath==1.0.1
joblib==1.2.0
jsonpatch==1.33
jsonpickle==3.0.4
jsonpointer==3.0.0
jsonschema==4.17.3
keras==2.12.0
keybert==0.8.5
kiwisolver==1.4.7
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-text-splitters==0.3.2
langdetect==1.0.9
langsmith==0.1.142
libclang==18.1.1
llama-cloud==0.1.4
llama-index==0.11.22
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.22
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.4.0
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.2.16
llama-index-multi-modal-llms-openai==0.2.3
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-parse==0.5.13
locket==1.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.5.3
mattermostwrapper==2.2
mdurl==0.1.2
ml_dtypes==0.5.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==5.2.0
mypy-extensions==1.0.0
narwhals==1.12.1
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.54.3
opt_einsum==3.4.0
orjson==3.10.11
packaging==24.2
pamqp==3.2.1
pandas==2.2.3
partd==1.4.2
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==10.4.0
pluggy==1.5.0
portalocker==2.10.1
proglog==0.1.10
prompt-toolkit==3.0.28
propcache==0.2.0
protobuf==4.23.3
psycopg2-binary==2.9.10
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydeck==0.9.1
pydot==1.4.2
Pygments==2.18.0
PyJWT==2.9.0
pykwalify==1.8.0
pymongo==4.3.3
PyMuPDF==1.24.12
pyparsing==3.2.0
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.0
pypiwin32==223
pyreadline3==3.5.4
pyrsistent==0.20.0
pytesseract==0.3.13
python-crfsuite==0.9.11
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.10.1
python-socketio==5.11.4
python-telegram-bot==21.6
pyttsx3==2.98
pytz==2022.7.1
pywin32==308
PyYAML==6.0.2
questionary==1.10.0
randomname==0.1.5
rasa==3.6.20
rasa-sdk==3.6.2
redis==4.6.0
regex==2022.10.31
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rocketchat-API==1.30.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.12
s3transfer==0.10.3
safetensors==0.4.5
sanic==21.9.1
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.0
setuptools==67.8.0
shap==0.41.0
smart-open==6.3.0
SQLAlchemy==2.0.16
sseclient==0.0.27
statsmodels==0.14.0
sympy==1.11.1
tenacity==8.2.3
termcolor==2.3.0
texttable==1.6.7
tiktoken==0.3.3
torch==2.1.0
torchmetrics==0.11.3
torchtext==0.15.1
torchvision==0.16.1
transformers==4.34.0
typing-extensions==4.7.1
tzlocal==4.1
urllib3==1.26.15
uvicorn==0.23.0
watchdog==3.0.0
webdriver-manager==4.8.3
Werkzeug==2.5.2
wheel==0.40.0
yarl==1.9.2
zipp==3.18.0
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints

